body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

textarea {
    width : 600px;
    height : 150px;
}

.ids {
    width : 100px;
    display : inline-block;
}